body {
  background-color: white;
}

.intro{
  font-family: 'Abel', sans-serif;
  color: gray;
}

.navigation{
  margin-top:25px;
  margin-left: 7%;
}

.navigation span{
  display: inline;
  padding-right: 15px;
}

.navigation .link:hover{
  text-decoration: underline;
  text-shadow: 1px 1px gray;
  cursor: pointer;
}

img.link:hover{
  cursor: pointer;
}

#logo{
  height: 3em;
  width: auto;
  position: fixed;
  top:20px;
  right:60px;
}

.footer-holder{
  position: fixed;
  bottom:10px;
  left:0;
  width: 100%;
  background: linear-gradient(white, #999);
  height: 7%;
}

.footer{
  font-size: 1em;
  text-align: center;
}

.intro-main{
    background-image:url("./../../public/images/professional.jpg");
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width:100%;
    height:80%;
    top:10%;
    left:0px;
    text-align: center;
    color:white;
    padding-top: 10%;
}

.intro button{
  height: 2em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 20%;
  border: 4px solid white;
  color: #ddd;
  background-color: #444;
}

.intro button:hover{
  color: #444;
  background-color: #ddd;
}

.intro-main h6{
  position: absolute;
  bottom: 10px;
}


// !!!!!VIVA LA REVOLUCION!!!!!

.lucha{
  background-color: #55aaff;
  color:white;
  font-weight: bold;
  font-family: 'Bad Script', cursive;
  background-image: url("./../../public/images/sicilia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  color: black;
  font-family: cursive;
}

.risorgimento{
  display: none;
  height: 100vh;
  width:100vh;
}

.no-show, .stage{
  display: none;
}

#audio{
  position: fixed;
  bottom: 15px;
  left:30px;
}

#garibaldi{
  position: fixed;
  top: 6%;
  right: 10%;
  height: 25em;
  width: auto;
}

.stage{
  margin-left: 20%;
  margin-top: 10%;
}

























// adsf
