body {
  background-color: white;
}

// intro page

.intro{
  font-family: 'Abel', sans-serif;
  color: gray;
}

.navigation{
  margin-top:25px;
  margin-left: 7%;
}

.navigation span{
  display: inline;
  padding-right: 15px;
}

.navigation .link:hover{
  text-decoration: underline;
  text-shadow: 1px 1px gray;
  cursor: pointer;
}

img.link:hover{
  cursor: pointer;
}

#logo{
  height: 3em;
  width: auto;
  position: fixed;
  top:20px;
  right:60px;
}

.footer-holder{
  position: fixed;
  bottom:10px;
  left:0;
  width: 100%;
  background: linear-gradient(white, #999);
  height: 7%;
}

.footer{
  font-size: 1em;
  text-align: center;
}

.intro-main{
    background-image:url("./../../public/images/professional.jpg");
    opacity: .9;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    width:100%;
    height:80%;
    top:10%;
    left:0px;
    text-align: center;
    color:white;
    padding-top: 10%;
}

.intro button{
  height: 2em;
  width: 4em;
  font-size: 1.5em;
  border-radius: 20%;
  border: 4px solid white;
  color: #ddd;
  background-color: #444;
}

.intro button:hover{
  color: #444;
  background-color: #ddd;
}

.intro-main h6{
  position: absolute;
  bottom: 10px;
}


// !!!!!VIVA LA REVOLUCION!!!!!


// stage 1

.lucha-1{
  background-color: #55aaff;
  color:white;
  font-weight: bold;
  font-family: 'La Belle Aurore', cursive;
  background-image: url("./../../public/images/sicilia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  color: black;
  font-family: sans-serif;
}

button{
  font-family: sans-serif;
}

.risorgimento{
  display: none;
  height: 100vh;
  width:100vh;
}

.no-show, .stage{
  display: none;
}

.audio{
  display: none;
  position: fixed;
  bottom: 15px;
  left:30px;
}

#garibaldi{
  position: fixed;
  top: 6%;
  right: 10%;
  height: 40em;
  width: auto;
}

.stage-1{
  margin-left: 20%;
  margin-top: 5%;
}

#stage-1-text{
  border-radius: 20%;
  background-color: white;
  opacity: .5;
  height: 70%;
  width:60em;
  color: black;
  padding: 3em;
}

.risorgimento button{
  margin-left: 3em;
  opacity: 1;
  font-size: 1.5em;
}



// stage 2

#guerra-civil{
  height: 100vh;
  width:100vh;
}

.interim-1-2{
  background-color: #b20505;
}

.lucha-2{
  color:white;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  background-image: url("./../../public/images/spain3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#stage-2-text{
  border-radius: 20%;
  background-color: #b20505;
  opacity: .8;
  width:60em;
  color: white;
  padding: 4em;
}

#orwell{
  position: fixed;
  top: 6%;
  right: 10%;
  height: 30em;
  width: auto;
}

.stage-2{
  margin-left: 5%;
  margin-top: 5%;
}

.stage-2 form{
  margin-left: 4em;
}

.stage-2 button{
  margin-top: 1em;
  font-size: 1.5em;
  color: black;
  background-color: white;
}

.stage-2 input{
  width: 19em;
}

#orwell-continue{
  margin-left: 4em;
}



// STAGE 3

// stage 2

#revolucion{
  height: 100vh;
  width:100vh;
}

.interim-2-3{
  background-color: #336600
;
}

.lucha-3{
  color:white;
  font-weight: bold;
  font-family: 'Bad Script', cursive;
  background-image: url("./../../public/images/cuba.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#stage-3-text{
  border-radius: 20%;
  background-color: white;
  opacity: .6;
  width:60em;
  color: black;
  padding: 4em;
}

#che{
  position: fixed;
  top: 6%;
  right: 10%;
  height: 30em;
  width: auto;
}

.stage-3{
  margin-left: 5%;
  margin-top: 5%;
}

.stage-3 button{
  margin-top: 1em;
  font-size: 1.5em;
  color: black;
  background-color: white;
}

.repository-box{
  height: 10em;
  overflow: auto;
  padding: 3em;
}

.repository-list a{
  font-size: 1.5em;
  color: #336600;
}

#stage-3-5{
  text-align: center;
}

#stage-3-6{
  font-family: arial;
  font-size: 2em;
  padding-top: 3em;
}

#stage-3-6 a {
  color:white;
}

// vortex

.vortex{
  background-image: url("./../../public/images/vortex.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width:100vh;
}









// adsf
